# Assignment 2 Lets_Upgrade

Python Basic Syntax

In [1]:
print("Python's World")

Python's World

In [4]:
print('Python's World')

SyntaxError: invalid syntax (<ipython-input-4-dd000971f821>, line 1)

you can correct this sentence with the help of Back slash

In [10]:
print('python\'s World')

python's World

use of Triple Quotes
you can use triple quotes to print things as it as

In [5]:
print("""
    1 
   2 2 
  3 3 3 
 4 4 4 4 
5 5 5 5 5
""")

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

ESCAPE SEQUENCE

In [8]:
print("Hello I am Learning Python\n  Let's Upgrade is a great platform to Learn Python")

Hello I am Learning Python
  Let's Upgrade is a great platform to Learn Python

In [9]:
print("Hello\tWorld")

Hello	World

Formatted Output

In [11]:
name="Prerna"
marks=80
print("My name is :",name," and My score is : ",marks)

My name is : Prerna  and My score is :  80

In [17]:
print(f"My name is {name} and My score is : {marks}")

My name is Prerna and My score is : 80

Dealing with Variables

In [18]:
a=10
b=10
print("a =",a,"\tb=",b)
print("Ram address of a is : ",id(a))
print("Ram address of b is : ",id(b))

a = 10 	b= 10
Ram address of a is :  140706288870064
Ram address of b is :  140706288870064

here the address of a and b both are same this case exists only when the value of bot a and b is same and lies Between -5 to 256

In [19]:
a=257
b=257
print("a =",a,"\tb=",b)
print("Ram address of a is : ",id(a))
print("Ram address of b is : ",id(b))

a = 257 	b= 257
Ram address of a is :  3013137922928
Ram address of b is :  3013137922736

In [20]:
del a

In [21]:
print(b)

257

In [22]:
del(b)

if the Value is not referred by any variable the interpreter automatically deletes that value

# Python Operators

1) Arithmetic Operators

In [23]:
print(10+2)

12

In [24]:
print(9**2)

81

In [25]:
print(10-87)

-77

In [27]:
print(10%3)

1

In [28]:
print(10*3)

30

Comparison Operators

In [29]:
a=10
b=20
c=10

In [30]:
a>b

False

In [31]:
a<b

True

In [32]:
a==c

True

In [33]:
a!=b

True

In [34]:
a<=b

True

Assignment Operators

In [35]:
a=10
b=30

In [36]:
a+=b

In [37]:
a

40

In [38]:
a*=b
a

1200

In [39]:
a/=b

In [40]:
a

40.0

In [41]:
a=10
b=2
a**=b
a

100

Bitwise Operstors

In [42]:
a=2
b=3
c= a|b
c

3

In [43]:
c=a&b
c

2

In [45]:
c=~a
c

-3

In [46]:
c=a^b
c

1

In [47]:
a=3
b=4
c=a^b
c

7

Logical Operators

In [48]:
a=10
b=12
a<b and b>a

True

In [49]:
a<b or a>b

True

In [50]:
not a>b

True

In [51]:
not a<b

False

In [52]:
10>9 and 20>M

NameError: name 'M' is not defined

In [53]:
10<9 and 10>M

False

In the above case,and operator does not go and check for the second condition when the first itself is false

Membership Operators

In [54]:
str1="prerana"
"ana" in str1

True

In [55]:
tr1="prerana"
"aya" in str1

False

In [57]:
tr1="prerana"
"aya" not in str1

True

Identity Operators

In [58]:
a=10
b=10
a is b

True

In [59]:
b=87
a is b

False

In [60]:
a is not b

True

Operator Precedence

In [62]:
10>8>9

False

In [63]:
10>8<9

True